body {
  text-align: center;
  height: 100%;
  margin: 0;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.emoji-section {
  padding-top: 1em;
  padding-bottom: 0.4em;
}

.clipboard {
  margin-top: 0.5em;
}

#clipboard-button {
  border: solid black 1px;
  border-radius: 0.5em;
}

#words-area {
  resize: none;
}

#result {
  font-size: 1.1em;
  color: black;
}

#placeholder-result {
  font-size: 0.9em;
  color: gray;
  font-style: italic;
}

#emoji-select {
  font-size: 2em;
}
